html, body, .content {height: 100%}

/* Formats the window */
body {
    margin: 0;
    font: 14px Verdana, sans-serif;
    overflow: hidden;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.container canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* Formats the sidebar */
.col1 {
    width: 54px;
    height:100%;
    background-color: #141426;
    float: left;
}

.col1 ul {
    padding-left: 10px;
    list-style: none;
    padding-top: 10px;
}

.col1 li {
    padding-bottom: 10px;
}

/*Formats where the graph is */
.col2 {
    height:100%;
    overflow: hidden;
}

.moving-brush {
    pointer-events: none;
    position: absolute;
}

[class*="-tooltip"]:focus {
    outline: none;
}

/* The three buttons in the accessibility class */
.help
{
    right:0;
}
.colorblind{
    right:80px;
}

.hover{
    right:40px;
}

/* Formats the three buttons in the upper left */
.accessibility .center-block {
    position:fixed;
    top:25px;
    margin-right: 10px;
    margin-left: 10px;
    height: 32px;
    width: 32px;
}

.save_as-popout, .brush-popout, .detail-popout {
    color: white;
    background: #141426;
    padding: 5px;
}

.brushRange, .detailRange {
    padding-top: 5px;
    background: transparent;
}

.brushSizeField, .detailLevelField, .brushRectLabel {
    background-color: #141426;
    position: relative;
    bottom: 5px;
}

/* Formats the information text in the bottom right */
.dataText {
    position:fixed;
    bottom:0;
    margin-bottom: 10px;
    margin-left: 70px;
}

.center-block {
    width: 32px; height: 32px;
}

/* Formatting the text describing our data */
.statusText, .updateRange {
    color: #141426;
    font-size: 80%;
}

.status-current-pt {
    font-family: monospace;
    font-size: 80%;
}

/* The dividers separating the button sets on the sidebar */
.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 100, 100, .1), rgba(140, 140, 140, 0.4), rgba(100, 100, 100, .1));
}

/* Formats the legend */
.legend{
    position:fixed;
    bottom:0;
    right:0;
    z-index:100;
}

/* Makes the buttons brighter when hovered over */
.center-block:hover {
    filter: brightness(1.4);
}

/* Makes the buttons brighter when you click */
.center-block:active {
    filter: saturate(0) invert(100%);
}

.accessibility .center-block:active {
    filter: invert(100%);
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    display: none;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 60%;
    left: 100%;
    padding: 0.5em;
    width: 14em;
    height: 1em;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: inline;
    z-index: 100;
}

.nohover [data-tooltip]:hover:before,
.nohover [data-tooltip]:hover:after,
.nohover[data-tooltip]:hover:before,
.nohover[data-tooltip]:hover:after {
    visibility: hidden;
}
