html {
    min-height: 100%;
}

body {
    background: linear-gradient(#101020, #544C6D);
    color: white;
    font-size: 120%;
}

h1 {
    font-size:200%;
    text-align: center;
}

.center {
    text-align: center;
}

#content {
    padding: 0 40px;
    margin: auto;
}

.section {
    margin-top: 1.5em;
    clear: both;
}

.section > img, .section .imgbox {
    float: left;
    margin: 0 0.75em 0.75em 0;
}

.section img {
    width: 48px;
    height: 48px;
}

.col3 {
    float: left;
    width: 29%;
    margin: 0 2%;
}

.col2 {
    float: left;
    width: 46%;
    margin: 0 2%;
}

.clear {
    clear: both;
}